files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99-post-deploy-symfony.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      SITE_LOCATION=/var/app/current
      SYMFONY_ENV=prod
      #
      printf "\n"
      echo "********** Start Symfony post-deployment script **********"
      printf "\n"
      #
      cd ${SITE_LOCATION}
      if [[ "$?" == "0" ]]; then
        echo "[*INFO]: Current directory changed to '$(pwd)'."
        printf "\n"
      else
        echo "[*ERROR]: Access denied to site root directory '$SITE_LOCATION'!"
        printf "\n"
        exit 1
      fi
      #
      echo "[*STEP*] - Execute migrations..."
      echo "--------------------------------"
      php bin/console doctrine:migrations:migrate --env=$SYMFONY_ENV --no-debug --no-interaction
      if [[ $? == 0 ]]; then
        echo "------------------------------------------"
        echo "[*OK]: DB migrations applied successfully."
        printf "\n"
      else
        echo "------------------------------------------"
        echo "[*ERROR]: Failed to execute DB migrations!"
        printf "\n"
        exit 1
      fi
      #
      echo "[*STEP*] - Remove 'dev' entry-point for security-reason..."
      echo "----------------------------------------------------------"
      if [[ -f $SITE_LOCATION/web/app_dev.php ]]; then
        sudo rm -f $SITE_LOCATION/web/app_dev.php
        if [[ $? == 0 ]]; then
          echo "[*OK]: File '$SITE_LOCATION/web/app_dev.php' deleted successfully."
          printf "\n"
        else
          echo "[*WARN]: Can't delete '$SITE_LOCATION/web/app_dev.php'!"
          printf "\n"
        fi
      else
        echo "[*INFO]: File '$SITE_LOCATION/web/app_dev.php' not exists."
        printf "\n"
      fi
