* {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
}

*:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #fff, 0 0 5px 3px #07598C !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

html, body {
    min-width: 1200px;
    height: 100% !important;
}

body {
    background: #e8eef5;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

[href$='#comingSoon'] {
    /*opacity: .5;*/
    cursor: not-allowed;
}

img {
    max-width: 100%;
    height: auto;
}


.hide,
.hidden {
    display: none !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-inline,
.list-inline > li {
    position: relative;
    display: inline-block;
}

button,
.btn {
    transition: .2s ease-in-out;
    cursor: pointer;
}

button[disabled],
.btn[disabled] {
    opacity: .3 !important;
    cursor: no-drop !important;
}

.btn-file {
    display: block;
    padding: 10px 15px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.btn-file:hover {
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}

.btn-file:active {
    background: #fafafa;
}

.white-block.no-bg ul.nav-pills > li > a:hover,
.white-block.no-bg ul.nav-pills > li.active > a {
    background: #fff;
    color: #232323;
}

.white-block.no-bg ul.nav-pills > li > a:hover:after,
.white-block.no-bg ul.nav-pills > li.active > a:after {
    color: #232323;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.container-fluid {
    min-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.top-panel {
    padding: 6px 0;
    background: #07598C;
    color: #000;
}

.top-panel .butts {
    margin: 2px 0;
}

.top-panel a.dis {
    position: relative;
    margin-left: 50px;
    padding-left: 24px;
    color: #fff;
    font-size: 14px;
}

.top-panel a.dis:before {
    content: "\f06e";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    transform: translateY(-50%);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-panel a.link,
.top-panel a.link,
footer a.link {
    position: relative;
}

.top-panel a.link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

.top-panel a.search:before {
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 0;
    display: none;
    font-family: FontAwesome;
    font-size: 14px;
    transform: translateY(-50%);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-panel ul.links,
footer ul.links {
    display: inline-block;
}

.top-panel ul.links>li+li,
footer ul.links>li+li {
    margin-left: 10px;
    padding-left: 14px;
}

.top-panel ul.links>li+li:before,
footer ul.links>li+li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 1px;
    height: 20px;
    background: #fff;
}

.top-panel #site-search {
    margin-left: 15px;
}

.top-panel form input {
    padding: 5px 10px;
    width: 165px;
    height: 32px;
    background: #bbd0dd;
    color: #232323;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
}

.top-panel ::-webkit-input-placeholder {
    color: #232323;
    transition: .1s ease-in-out;
}

.top-panel ::-moz-placeholder {
    color: #232323;
    transition: .1s ease-in-out;
}

/* Firefox 19+ */
.top-panel :-moz-placeholder {
    color: #232323;
    transition: .1s ease-in-out;
}

/* Firefox 18- */
.top-panel :-ms-input-placeholder {
    color: #232323;
    transition: .1s ease-in-out;
}

.top-panel input:hover::-webkit-input-placeholder,
.top-panel input:focus::-webkit-input-placeholder {
    color: #999;
}

.top-panel input:hover::-moz-placeholder,
.top-panel input:focus::-moz-placeholder {
    color: #999;
}

/* Firefox 19+ */
.top-panel input:hover:-moz-placeholder,
.top-panel input:focus:-moz-placeholder {
    color: #999;
}

/* Firefox 18- */
.top-panel input:hover:-ms-input-placeholder,
.top-panel input:focus:-ms-input-placeholder {
    color: #999;
}

.top-panel form button {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    padding: 0;
    background: transparent;
    color: #0d47a1;
    font-size: 18px;
    border: 0;
    outline: none !important;
    cursor: pointer;
}

header {
    position: relative;
    background: #e8eef5;
    z-index: 15;
}

header .logo {
    display: inline-block;
    margin: 20px 0;
}

.menu {
    position: relative;
    padding: 12px 0;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
    z-index: 10;
}

.menu nav {
    display: inline-block;
}

.menu nav > ul {
    margin: 0;
}

.menu nav > ul > li {
    padding: 0 6px;
}

.menu nav > ul > li + li {
    margin-left: -6px;
}

.menu nav > ul > li:first-child {
    padding-left: 0;
}

.menu nav > ul > li:last-child {
    padding-right: 0;
}

.menu nav > ul > li + li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    width: 1px;
    height: 24px;
    background: #c4d5e8;
}

.menu nav > ul > li > a {
    display: block;
    padding: 3px 19px 2px;
    color: #232323;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

.menu nav > ul > li > a:focus,
.menu nav > ul > li > a:hover,
.menu nav > ul > li > a:active {
    color: #07598C;
}

.menu nav > ul > li.active > a {
    background: #07598C;
    color: #fff;
}

.menu nav > ul > li > a.with-icon {
    position: relative;
    padding-left: 48px;
}

.menu nav > ul > li > a.with-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
}

.menu nav > ul > li > a.with-icon:focus:before,
.menu nav > ul > li > a.with-icon:hover:before,
.menu nav > ul > li > a.with-icon:active:before {
    background-position: 50% -24px;
}

.menu nav > ul > li.active > a.with-icon:before {
    background-position: 50% -48px !important;
}

.page-header h1 {
    display: table-cell;
    vertical-align: middle;
    width: 600px;
    height: 245px;
    color: #333;
    font-size: 44px;
    text-align: center;
}
.page-header h1>span {
    color: #07639d;
}
.page-header.careers h1 {
    font-weight: normal;
}
.page-header.careers h1>span {
    font-weight: bold;
}

.banner-wrapper {
    margin: 30px auto;
}

.banner {
    padding: 40px 40px 35px;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
}

.banner .title {
    margin: 0 auto 20px;
    color: #232323;
    font-size: 24px;
    font-weight: bold;
}

.banner .title > b {
    font-size: 30px;
    color: #07598C;
}

.banner .year-tab {
    padding: 10px 20px;
    min-width: 235px;
    background: none;
    color: #135b89;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: 2px #135b89 solid;
}

.banner .year-tab:hover,
.banner .year-tab:active {
    background: #b7d1ea;
}

.banner .year-tab.active {
    background: #07598C;
    color: #fff;
    text-decoration: none;
}

.banner .year-tabs li + li {
    margin-left: 10px;
}

.banner .year-tabs .hint {
    padding: 10px 0 3px;
    cursor: pointer;
}

main {
    margin: 30px auto 50px;
}

main .main-section {
    position: relative;
    height: inherit;
    width: 25%;
    float: left;
    overflow: hidden;
}

main .main-section .title {
    position: relative;
    margin-top: -7px;
    padding: 9px 5px 9px 20px;
    width: 100%;
    height: 90px;
    background: #07598C;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
}

main .main-section .title {
    cursor: pointer;
}

main .main-section .title .toggle-links {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    width: 19px;
    height: 19px;
    color: #fff;
    font-size: 18px;
    line-height: 105%;
    transition: .2s ease-in-out;
}

main .main-section.active .title .toggle-links {
    transform: rotate(180deg);
}

main .main-section:nth-child(even) .title {
    background: #b2cde8;
    color: #000;
}

main .main-section:nth-child(even) .title .toggle-links .fa {
    color: #000;
}

main .main-section .title > div {
    position: relative;
    padding-right: 40px;
    height: 72px;
}

main .main-section .title > div:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
}

main .main-section#ms2 .title > div:before {
    background-position: 100% 0;
}

main .main-section#ms3 .title > div:before {
    background-position: 0 100%;
}

main .main-section#ms4 .title > div:before {
    background-position: 100% 100%;
}

main .main-section .title > div > div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
    width: 100%;
    height: 72px;
    font-size: 18px;
    line-height: 1.5;
}

main .main-section .links {
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(232, 238, 245, 0) 0%, rgba(232, 238, 245, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(232, 238, 245, 0) 0%, rgba(232, 238, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(232, 238, 245, 0) 0%, rgba(232, 238, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e8eef5', endColorstr='#e8eef5', GradientType=0);
    transition: .3s ease-in-out;
    z-index: 10;
    opacity: 0;
}

main .main-section.active .links,
main .main-section.active .links {
    bottom: 90px;
    opacity: 1;
}

main .main-section + .main-section .links:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #c4d5e8;
}

main .main-section .links > ul {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 380px;
}

main .main-section .links > ul > li + li {
    margin-top: 15px;
}

main .main-section .links > ul > li {
    color: #232323;
    font-size: 18px;

}

main .main-section .links > ul > li > a {
    display: block;
    padding: 15px 20px;
    background: #fff;
    color: #07598C;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #c4d5e8;
    border-radius: 4px;
}

main .main-section .links > ul > li > a > i {
    margin-right: 8px;
}

main .main-section .links > ul > li > a:hover {
    background: #c4d5e8;
}

main .main-section .links > ul > li > a:active {
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, .1);
}

.breadcrumbs {
    padding: 13px 0;
    background: #adbdcf;
}

.breadcrumbs ul > li {
    color: #232323;
    font-size: 16px;
    font-weight: bold;
}

.breadcrumbs ul > li + li {
    margin-left: 15px;
}

.breadcrumbs ul > li + li:before {
    content: '/';
    position: absolute;
    top: 50%;
    left: -13px;
    margin-top: -11px;
}

.breadcrumbs ul > li > a {
    color: #232323;
    font-weight: bold;
}

.breadcrumbs ul > li > a:focus,
.breadcrumbs ul > li > a:hover,
.breadcrumbs ul > li > a:active {
    color: #232323;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100% - 300px);
}

.content.сareers {
    min-height: 470px;
}

.content.search-jobs {
    min-height: 650px;
}

.content.members-start .white-block.tabs-block,
.content.members-start .white-block.tabs-block > .row > .col-4 {
    min-height: initial;
    max-height: initial;
    height: auto;
    overflow: visible;
}

.content.members-start .white-block.tabs-block .tabs {
    padding: 0;
}

.content h1,
.content h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    color: #07598C;
    font-size: 30px;
    line-height: 123%;
}

.content h1 > span,
.content h2 > span {
    color: #232323;
}

.content h1:first-child,
.content h2:first-child {
    margin-top: 0;
}

.content.search-jobs h2 > span,
.content.search-jobs h2 > span * {
    font-size: 16px;
    font-weight: normal;
}

.content h3 {
    margin-bottom: 15px;
    color: #232323;
    font-size: 20px;
}

.content h3 > span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.content p {
    margin-bottom: 16px;
    color: #232323;
    font-size: 16px;
}

.content span.tel {
    color: #07598C;
    font-size: 20px;
}

.content a,
.modal a {
    color: #07598C;
    font-weight: bold;
}

.content a:hover,
.modal a:hover {
    color: #232323;
    text-decoration: none;
}

.content .text-delimiter {
    margin: 20px 0;
    height: 1px;
    background: #ccc;
}

.content .divider {
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background: #a5b4c5;
}

.content .info-cols {
    margin-bottom: 40px;
}

.content .info-cols img {
    float: left;
}

.content .info-cols p {
    display: table-cell;
    vertical-align: middle;
    margin-left: 20px;
    height: 62px;
    float: left;
}

.content .info-cols > .col-5 > p > b {
    display: table-cell;
    vertical-align: middle;
    color: #07598C;
    height: 62px;
    font-size: 24px;
}

.content .info-cols > .col-4 > p {
    margin-left: 25px;
}

.content .info-cols > .col-3 > p {
    height: 104px;
}

.content .info-cols > .col-3 > p > span {
    display: block;
    color: #07598C;
}

.content .row.enroll {
    padding-bottom: 35px;
}

.content .row.enroll + .row.enroll {
    padding-top: 50px;
    border-top: 1px solid #a5b4c5;
}

.content .row.enroll .col-3 {
    font-size: 30px;
    font-weight: bold;
}

.content .row.enroll .col-3 img {
    margin-right: 10px;
    margin-bottom: -17px;
}

.content .row.enroll p {
    margin-bottom: 5px;
}

.content .row.enroll span.tel {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

.content .row.enroll a.file {
    display: inline-block;
    margin: 5px 0 10px;
}

.content .row.enroll + .spoiler {
    margin-top: 70px;
}

.icon-cols {
    padding: 20px 0 20px;
    text-align: center;
}

.icon-cols > li {
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px;
    width: calc((100% - (30px * 5)) / 6);
    min-height: 240px;
    background: #fff;
    border-top: 2px solid #9db0c7;
    border-bottom: 2px solid #9db0c7;
    border-radius: 2px;
}

.icon-cols > li+li {
    margin-left: 25px;
}

.icon-cols > li.blue {
    border-color: #029be7;
}

.icon-cols > li.sky-blue {
    border-color: #00b7d6;
}

.icon-cols > li.turquoise {
    border-color: #4eb6ad;
}

.icon-cols > li.green {
    border-color: #7eb444;
}

.icon-cols > li.orange {
    border-color: #ff9801;
}

.icon-cols > li.red {
    border-color: #ff7043;
}

.icon-cols p {
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.form-info {
    margin-bottom: 20px;
    padding: 27px 62px 27px 140px;
    color: #fff;
    font-size: 20px;
    line-height: 155%;
    border-radius: 2px 2px 0 0;
}

.form-info.narrow-search {
    margin-bottom: -40px;
    background-position: 20px 50%;
    padding: 12px 20px;
    padding-left: 65px;
}

.form-info.narrow-search + .white-block {
    border-radius: 0 0 2px 2px;
}

body.fixed .jobs-widget {
    position: fixed;
    top: 10px;
    width: 470px;
}

.white-block {
    margin: 40px 0;
    padding: 30px 30px 25px;
    border-radius: 2px;
}

.white-block:not(.no-bg) {
    background: #fff;
    border: 1px solid #dde5ea;
}

.white-block > .block-header {
    padding: 12px 20px;
    background: #fafafa;
    border-bottom: 1px solid #dde5ea;
}

body.fixed .search-results-sidebar {
    position: fixed;
    top: 0;
    width: 370px;
    height: 100%;
}

body.fixed .search-results-sidebar.scrollable .white-block {
    overflow-y: auto;
    height: calc(100% - 170px);
}

.white-block > .block-header a.file {
    color: #232323;
    font-weight: normal;
}

.white-block .features-list {
    padding: 15px 20px;
    border-bottom: 1px solid #dde5ea;
}

body.fixed .white-block .features-list {
    margin-bottom: 106px;
}

.white-block .features-list .feature {
    display: inline-block;
    padding: 4px 0;
    padding-left: 32px;
    color: #232323;
    font-weight: normal;
}

.white-block .features-list .feature + .feature {
    margin-left: 20px;
}

.white-block .filters {
    padding: 20px;
    background: #fff;
}

body.fixed .white-block .filters {
    position: fixed;
    top: 0;
    width: 768px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    z-index: 10;
}

.white-block .filters .pagination li {
    display: inline-block;
    min-width: 26px;
    text-align: center;

}

.white-block .filters .pagination li{
    border: 1px solid #adbdcf;
    border-radius: 2px;
}
.white-block .filters .pagination li a{
    font-weight: normal;
    text-decoration: none;
    display:block;
    padding: 0 6px;
}

.white-block .filters .pagination li a:hover,
.white-block .filters .pagination li.current {
    background: #e8eef5;
    color: #232323;
}
.white-block .filters .pagination li.dots,
.white-block .filters .pagination li.disabled {
    color: #ccc;
    border: 1px solid #ccc;
    cursor: default;
}
.white-block.single-search-result {
    margin: 10px 20px;
    padding: 25px 20px 20px;
    padding-bottom: 10px;
}

.white-block.single-search-result .title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}

.white-block.single-search-result .title > img {
    margin-bottom: -5px;
    margin-left: 10px;
}

.white-block.sidebar-block {
    position: relative;
    padding-bottom: 45px;
}

.white-block.sidebar-block:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -74px;
    width: 148px;
    height: 1px;
    background: #c4d5e8;
}

.white-block.sidebar-block h3 {
    margin: 18px 0 8px;
    color: #07598C;
}

.white-block.sidebar-block p {
    margin-bottom: 10px;
}

.white-block.sidebar-block .tel {
    margin-bottom: 8px;
    color: #07598C;
    font-size: 24px;
    font-weight: bold;
}

.white-block.sidebar-block .tel b {
    display: block;
    color: #232323;
    font-size: 16px;
}

.white-block.sidebar-block .tel span {
    color: #232323;
    font-weight: normal;
}

form.white-block {
    padding-top: 20px;
}

.white-block.plans {
    margin: 30px 0;
    padding: 15px 30px 5px;
}

.white-block.rx-summary-info {
    padding-bottom: 10px;
}

.white-block.tabs-block {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.white-block.tabs-block {
    min-height: 620px;
    max-height: 620px;
}

.white-block.tabs-block .tab-header {
    margin-bottom: 25px;
    border-bottom: 1px solid #c4d5e8;
}

.white-block.tabs-block h2 {
    font-size: 20px;
}
.white-block.tabs-block .tab-header h2 {
    margin: 0 0 15px;
    color: #07598C;
}

.white-block.tabs-block .spoiler-body h2 {
    color: #232323;
}

.white-block.tabs-block > .row > .col-4 {
    min-height: 620px;
    max-height: 620px;
}

.white-block.tabs-block .tabs {
    min-height: inherit;
    padding: 20px;
}

.white-block.tabs-block:not(.no-bg) .tabs {
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.tabs-block .tabs > ul > li.dropdown > ul.dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    background: #ffffff;
    border: 1px solid #c4d5e8;
    border-radius: 4px;
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, .15);
    z-index: 10;
}


.tabs-block .tabs > ul > li.dropdown > ul.dropdown-menu > li > a {
    display: block;
    padding: 11px 10px;
}

.white-block.tabs-block .content {
    padding: 20px 0;
    padding-right: 20px;
}

.white-block.tabs-block.tabs-w-bg .content {
    padding: 0;
}

.white-block.tabs-block .content .tab-pane {
    padding-right: 20px;
}

.white-block.tabs-block.tabs-w-bg .content .tab-pane {
    padding: 20px 0;
    padding-right: 20px;
}

.white-block.tabs-block.tabs-w-bg .content .tab-pane#m1ga {
    max-height: 100%;
    height: 617px;
}

.white-block.tabs-block.tabs-w-bg .content .tab-pane#m1sc {
    max-height: 100%;
    height: 617px;
}

.white-block.tabs-block .content .tab-pane:not(.select-state-tab-wrapper) {
    max-height: 580px;
    overflow: hidden;
    overflow-y: auto;
}

.white-block.search-block.big-block {
    height: 490px;
}
footer {
    padding: 5px 0;
    border-top: 1px solid #e8eef5;
}

footer ul.links>li {
    position: relative;
}

footer ul.links>li+li {
    margin-left: 10px;
    padding-left: 14px;
}

footer ul.links>li+li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 1px;
    height: 20px;
    background: #000;
}

footer a {
    color: #07598C;
}

footer a:hover {
    text-decoration: none;
}

footer ul.links>li:first-child {
    margin-left: 15px;
}

a.close-btn {
    position: absolute;
    top: 11px;
    right: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a.close-btn > .fa {
    margin-left: 5px;
}
