{% extends "@Main/base.html.twig" %}

{% block content %}
    <div class="banner-wrapper">
        <div class="container">
            <div class="banner">
                <div class="title text-center"><b>Demo site</b><br/></div>
            </div>
        </div>
    </div>
    <main class="clearfix">
    </main>
{% endblock %}